:root {
  --tecla: #e93d50;
  --corDeFundo--botao: rgba(34, 34, 34, 0.7);
  --corDeFundo--botao-hover: #333;
  --corDeFundo2: rgb(54, 52, 52);
  --corDeFundo3: rgba(54, 52, 52, 0.5);
  --corFonte: #fff;
  --luz: rgb(255, 0, 0);
  --luzTecla: rgba(231, 18, 18, 0.5);

}

body {
  color: var(--corFonte);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
  align-items: center;
  background: blue;
  display: flex;
  justify-content: center;
}

.controlador {
  background-color: black;
  display: flex;
  justify-content: center;
}

.teclado {
  background: var(--corDeFundo3);
  border: 1px solid #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.teclado__container:not(:last-child) {
  margin-bottom: 1rem;
}

.tecla {
  background-color: var(--corDeFundo--botao);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 0 var(--luzTecla);
  cursor: pointer;
  width: 120px;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
}

.tecla:not(:first-child) {
  margin-left: 0.8rem;
}

.tecla:hover {
  background-color: var(--corDeFundo--botao-hover);
}

.tecla.ativa,
.tecla:active {
  background-color: black;
  border: 4px solid  var(--tecla);
  color: var(--luz);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 15px var(--luz);
}
